---
import PokemonCard from "../components/pokemones/PokemonCard.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list-response";
import MainLayout from "../layouts/MainLayout.astro";


const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = await resp.json() as PokemonListResponse;



const title = "Pókemon static | Home"


---

<MainLayout title={ title }>

	<h1 class="text-3xl">Listado de pokemones</h1>
	<hr>
	<section aria-label="Listado de pokemones" class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-4">
{
			data.results.map(({name, url}) => (
				<PokemonCard name={name} url={url} />
			))
		}
	</section>
		
	
	<h1 class="text-3xl ">Astro</h1>
</MainLayout>
